    <% comments.each do |comment| %>
      <hr>
      <div class="col-md-8 w-100">
        <div class="media g-mb-30 media-comment d-flex">
          <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15 user-photo" src="<%= comment.user.photo %>" alt="<%= comment.user.username %> ">
          <div class="media-body g-bg-white g-pa-5 w-100">
            <div class="g-mb-15">
              <h5 class="h5 g-color-gray-dark-v1 mb-2"><strong> <%= link_to user_path(comment.user), class: "text-decoration-none text-black" do%> <%= comment.user.username %> <% end %></h5>
                <span class="g-color-gray-dark-v4 g-font-size-12"><%= comment.created_at.strftime('%d %b %Y') %></span>
              <div data-controller="read-more" data-read-more-more-text-value="Read more ↓" data-read-more-less-text-value="Read less ↑">
                <p class="my-content" data-read-more-target="content">
                  <%= comment.content %>
                </p>
                <% if policy(comment).destroy? %>
                  <%= link_to "Delete", comment_path( comment), data: {turbo_method: :delete, turbo_confirm: "you sure?" }, method: :delete, class: "btn btn-danger text-white" %>
                <% end %>
                <% if comment.content.chars.length > 291 %>
                  <button data-action="read-more#toggle" style="border-radius: 20px;" class="btn-readmore">Read more ↓</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
