<div class="container-xxl rounded my-2 border p-0">
  <div class="profile">
    <div class="profile-header">
      <div class="profile-header-cover" style="background: url(<%= @user.banner %>);
                                               background-size: cover;
                                               background-position: center;
                                               background-repeat: no-repeat;"></div>
      <div class="profile-header-content">
        <div class="profile-header-img">
          <img src="<%= @user.photo %>" alt="<%= @user.username %>" />
        </div>
        <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
              <div class="nav-field">Watchlist</div>
            </a>
          </li>
          <% if current_user == @user %>
            <li class="nav-item">
              <a class="nav-link"  class="nav-link" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit" type="button" role="tab" aria-controls="edit" aria-selected="true">
                <div class="nav-field">Edit</div>
              </a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" class="nav-link" id="ach-tab" data-bs-toggle="tab" data-bs-target="#ach" type="button" role="tab" aria-controls="ach" aria-selected="true">
              <div class="nav-field">Achievements</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile-container">
      <div class="profile-sidebar">
        <div class="desktop-sticky-top">
          <h4> <strong><%= @user.username %></strong> </h4>
          <div class="font-weight-600 mb-3 text-muted mt-n2">Points: <%= @user.points %></div>
          <p> <%= @user.bio %> </p>
          <hr class="mt-4 mb-4" />
          <div class="d-flex">
            <div class="row">
           <p> <strong>Achievements:</strong></p>
              <% @user.user_achievements.order(created_at: :desc).each do |ach| %>
                <div class="col-6">
                  <div id="<%= ach.achievement.name %>" style="display: none;text-align:center;">
                    <strong><%= ach.achievement.name %></strong> <br>
                    <%= ach.achievement.description %>
                  </div>
                    <img src="<%= ach.achievement.image %>" alt="" height=120 id="myButton" data-template="<%= ach.achievement.name %>">
                  <br>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-content">
        <div class="row">
          <div class="col-xl-12 left-marg">
            <div class="tab-content p-0">
              <div class="tab-pane fade active show" id="home" role="tabpanel" >
                <h4 class="genre-title my-2">Watchlist - <%= pluralize @user.watchlists.count, "result" %></h4>
                <div class="d-flex">
                  <div class="row gap-2">
                    <% @user.watchlists.each do |watchlist| %>
                      <div class="col-auto mb-2">
                        <%= link_to anime_path(watchlist.anime), style: 'text-decoration: none;' do %>
                          <div class="anime-card img">
                            <%= image_tag watchlist.anime.image %>
                            <div class="anime-infos" data-edit-anime-target="infos">
                              <h3><%= watchlist.anime.title %></h3>
                              <div class="genre">
                                <small><%= watchlist.anime.genre %></small>
                                <div class="rating">
                                  <% (1..5).each do |i| %>
                                    <% if i <= watchlist.anime.rating %>
                                      <i class="fas fa-star"></i>
                                    <% else %>
                                      <i class="far fa-star"></i>
                                    <% end %>
                                  <% end %>
                                </div>
                                <% if current_user == @user %>
                                  <div class="card-icons">
                                    <%= button_to anime_watchlist_path(watchlist.anime, watchlist), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'custom-button-delete', onclick: "event.stopPropagation();" do %>
                                      <ion-icon name="trash-outline"></ion-icon>
                                    <% end %>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="edit" role="tabpanel" >
                <div class="d-flex">
                  <div class="row">
                    <div class="w-75">
                      <div class="user-photo">
                        <% if @user.photo %>
                          <%= image_tag(@user.photo, alt: "User Photo") %>
                        <% else %>
                          <%= image_tag(asset_path("profile.png"), alt: "User Photo") %>
                        <% end %>
                      </div>
                      <!-- Champ de téléchargement de la photo -->
                      <%= simple_form_for(current_user, url: registration_path(current_user), method: :put) do |f| %>
                        <%= f.input :photo, as: :file, input_html: { name: 'photo_update[photo]', class: "w-100" } %>
                        <%= f.button :submit, "Upload Photo", class: "btn btn-primary" %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row col-7">
                    <%= simple_form_for(current_user, url: registration_path(current_user), method: :put) do |f| %>
                      <%= f.input :username %>
                      <%= f.input :email %>
                      <%= f.input :bio, as: :text, input_html: { data: { character_counter_target: "input", controller:"textarea-autogrow", textarea_autogrow_resize_debounce_delay_value:"500" } } %>
                      <%= f.input :current_password, label: "Current password", required: true, input_html: { autocomplete: "off" } %>
                      <%= f.input :password, label: "New password", required: true, input_html: { autocomplete: "off" } %>
                      <%= f.input :password_confirmation, label: "Confirm new password", required: true, input_html: { autocomplete: "off" } %>
                      <%= f.button :submit, "Update Profile", class: "btn btn-primary" %>
                      <%= button_tag "Cancel", type: :button, class: "button btn-cancel", onclick: "window.location.href='#{user_path(current_user)}'" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="ach" role="tabpanel" >
                <div class="d-flex">
            <div class="row">
            <div class="d-flex flex-wrap">
              <% @user.user_achievements.order(created_at: :desc).each do |ach| %>
                <div class="col-3 border m-3 pt-2 px-5 rounded-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                  <div id="<%= ach.achievement.name %>" style="display: none;text-align:center;">
                    <strong><%= ach.achievement.name %></strong> <br>
                    <%= ach.achievement.description %>
                  </div>
                  <div class="justify-content-center text-center">
                    <img src="<%= ach.achievement.image %>" height=120 id="myButton" data-template="<%= ach.achievement.name %>"> <br>
                    <strong><%= ach.achievement.name %></strong>
                  </div>
                  <br>
                </div>
              <% end %>
              </div>
            </div>
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>

  .anime-card {
    margin-right: 0px !important;
  }

.nav-tabs .nav-link {
    color: black;
    font-weight: bold;
    border: none !important;
    opacity: 0.5;
  }

  .active {
    opacity: 1 !important;
    background: none !important;
  }
  .nav-link > .nav-field {
    font-size: 18px !important;

  }
   .custom-button-delete {
     background-color: transparent;
     border: none;
     cursor: pointer;
     color: #6366F1;
     font-size: 20px;
   }

</style>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
