<div class="primary-container">
  <div class="banner-container">
    <div class="row row1">
      <div class="image-overlay">
        <img src="https://res.cloudinary.com/dtjuz4kkr/image/upload/v1687252507/banner_img_r1onbm.png" alt="Image Cloudinary">
      </div>
      <div class="banner"></div>
    </div>
    <div class="row row2">
      <div class="column1">
        <div class="content mt-5" style="text-align: center; position: relative;">
          <img src="<%= @user.photo %>" alt="Photo de l'utilisateur" class="profile-image">
          <h2><%= @user.username %></h2>
          <p><%= @user.bio %></p>
          <hr width="95%">
          <h3>Achievement:</h3>
          <p>Points: <%= @user.points %></p>
        </div>
      </div>
      <div class="column2">
        <ul class="nav nav-tabs mx-2" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" style="color: black;">Watchlist</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="edit-profile-tab" data-bs-toggle="tab" data-bs-target="#edit-profile" type="button" role="tab" aria-controls="edit-profile" aria-selected="false" style="color: black;">Edit Profile</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="achievement-tab" data-bs-toggle="tab" data-bs-target="#achievement" type="button" role="tab" aria-controls="achievement" aria-selected="false" style="color: black;">Achievement</button>
          </li>
        </ul>

        <div class="d-flex justify-content-start mx-2">
          <div class="cardsecond ">
            <div class="card-body">
              <div class="tab-content w-100" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="animes-container justify-content-start ">
                    <div class="genre-section">
                      <h4 class="genre-title mt-5 mb-2">Watchlist - <%= pluralize @user.watchlists.count, "result" %></h4>
                    </div>
                    <div class="row row-cols-1  gap-5" style="margin-left:10px">
                      <div class="animes">
                        <% @user.watchlists.each do |watchlist| %>
                          <%= link_to anime_path(watchlist.anime), style: 'text-decoration: none;' do %>
                            <div class="anime-card img">
                              <%= image_tag watchlist.anime.image %>
                              <div class="anime-infos" data-edit-anime-target="infos">
                                <h3><%= watchlist.anime.title %></h3>
                                <div class="genre">
                                  <small><%= watchlist.anime.genre %></small>
                                  <div class="rating">
                                    <% (1..5).each do |i| %>
                                      <% if i <= watchlist.anime.rating %>
                                        <i class="fas fa-star"></i>
                                      <% else %>
                                        <i class="far fa-star"></i>
                                      <% end %>
                                    <% end %>
                                  </div>
                                  <% if current_user == @user %>
                                    <div class="card-icons">
                                      <%= button_to anime_watchlist_path(watchlist.anime, watchlist), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'custom-button-delete' do %>
                                        <ion-icon name="trash-outline"></ion-icon>
                                      <% end %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
                  <div class="d-flex flex-column align-items-center mt-5 mx-auto">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="content-1">
                          <!-- Affichage de la photo -->
                          <div class="user-photo">
                            <% if current_user.photo %>
                              <%= image_tag(current_user.photo, alt: "User Photo") %>
                            <% else %>
                              <%= image_tag(asset_path("profile.png"), alt: "User Photo") %>
                            <% end %>
                          </div>

                          <!-- Champ de téléchargement de la photo -->
                          <%= simple_form_for(current_user, url: registration_path(current_user), method: :put) do |f| %>
                            <%= f.input :photo, as: :file, input_html: { name: 'photo_update[photo]' } %>
                            <%= f.button :submit, "Upload Photo", class: "UploadPhotoBtn" %>
                          <% end %>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="content-2">
                          <h2>Edit Profile</h2>
                          <%= simple_form_for(current_user, url: registration_path(current_user), method: :put) do |f| %>
                            <%= f.input :username %>
                            <%= f.input :email %>
                            <%= f.input :bio, as: :text %>

                            <%= f.input :current_password, label: "Current password", required: true, input_html: { autocomplete: "off" } %>
                            <%= f.input :password, label: "New password", required: true, input_html: { autocomplete: "off" } %>
                            <%= f.input :password_confirmation, label: "Confirm new password", required: true, input_html: { autocomplete: "off" } %>

                            <%= f.button :submit, "Update Profile", class: "buttontype1" %>
                            <%= button_tag "Cancel", type: :button, class: "buttontype2", onclick: "window.location.href='#{user_path(current_user)}'" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
 .primary-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
  .banner-container {
    width: 90%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0.7px solid #E5E7EB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  .row1,
  .row2 {
    width: 100%;
    display: flex;
    justify-content: stretch;
  }

  .row1 {
    flex: 1;
    position: relative;
    z-index: 1;
    background-color: #E5E7EB;
  }

  .image-overlay {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
  }

  .image-overlay img {
    width: 30%;
    height: auto;
    margin-top: -82px;
  }

  .row2 {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
  }

  .column1 {
    flex-basis: 25%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 3;
  margin-top: -50%;
  margin-bottom: -75px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px black;
  background-color: white;
}

.profile-image::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

  .column2 {
    flex-basis: 75%;
    justify-content: flex-start;
    align-items: center;
  }

  .content {
    justify-content: flex-start;
    margin-left: 20px;
  }
  .custom-button-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #6366F1;
    font-size: 20px;
  }
  .nav{
    border: none;
  }
  .achievement {


  }
</style>




<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  // With the above scripts loaded, you can call `tippy()` with a CSS
  // selector and a `content` prop:

tippy('#myButton', {
  content(reference) {
    const id = reference.getAttribute('data-template');
    const template = document.getElementById(id);
    return template.innerHTML;
  },
  allowHTML: true,
  animation: 'fade',

});
</script>
