<div class="animes-container">
  <% all_animes = policy_scope(Anime).all %>
  <% animes_by_genre = all_animes.group_by(&:genre) %>

  <% animes_by_genre.each do |genre, animes| %>
    <div>
      <h4 class="genre-title mt-5 mb-2"><%= genre %> - <%= pluralize animes.size, "result" %></h4>
    </div>
      <div class="animesCd">
        <% animes.each do |anime| %>
          <%= link_to anime_path(anime), class: "text-decoration-none" do %>
          <div class="card-anime">
            <div class="image-card">
              <%= image_tag anime.image %>
            </div>
            <div class="info-anime">
              <h2><%= anime.title %></h2>
              <small class="year"><%= anime.date_start.strftime("%Y")%></small>
              <p><%= anime.themes.join(", ") %></p>
              <p><%= truncate(anime.synopsis, length: 100, omission: '...') %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
  <% end %>
</div>
