<div data-search-animes-target="list">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize animes.count, "anime" %>
    <% else %>
      Top <%= pluralize animes.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="animes">
    <% animes.each do |anime| %>
      <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
      <div class="anime-card img">
        <%= image_tag anime.image %>
        <div class="anime-infos" data-edit-anime-target="infos">
          <h2><%= anime.title %></h2>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
