<div data-search-animes-target="list">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize animes.count, "anime" %>
    <% else %>
      Top <%= pluralize animes.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="animes">
    <% animes.each do |anime| %>
      <div class="anime-card img">
        <%= image_tag anime.image %>
        <div class="anime-infos" data-edit-anime-target="infos">
          <h2><%= anime.title %><small> (<%= anime.date_start %>)</small></h2>
          <p><%= link_to "Read More ...", anime_path(anime), class: "text-decoration-none"%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
