<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container">
    <div class="d-flex justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link me-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "Categories", search_path, class: "nav-link me-3" %>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= cl_image_tag("https://res.cloudinary.com/dtjuz4kkr/image/upload/v1686851125/animetrek_logo_fnexfu.png", crop: :fill) %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="avatar text-decoration-none text-dark" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="username capitalize ms-auto me-3"><%=current_user.username %></span>
              <%= image_tag current_user.photo, class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item me-3">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Register",  new_user_registration_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
