<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex justify-content-start"> <!-- Left-aligned items -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Categories", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-center"> <!-- Center-aligned item -->
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-end"> <!-- Right-aligned items -->
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="avatar text-decoration-none text-dark" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fw-bold username capitalize ms-auto"><%=current_user.username.capitalize %></span>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Settings", user_session_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
