<script src="https://unpkg.com/@lottiefiles/lottie-player@latest"></script>
<div class="container container-parent">
  <div class="blurr-img">
    <%= cl_image_tag("https://res.cloudinary.com/dtjuz4kkr/image/upload/v1686840960/blurr_azumrg.png", height: 500) %>
  </div>
  <div class="row mt-8">
    <div class="col-8 mt-5">
      <p class="slogan">Discover, Explore, Simplify:</p>
      <h1 class="text-uppercase landing-header">Unleash The Anime Universe</h1>
      <p class="support-text text-muted">
      Introducing AnimeTrek: Your Ultimate Anime Exploration Companion. Embark on a journey to discover new anime series, explore a myriad of genres, and immerse yourself in captivating storylines that will transport you to extraordinary worlds.
      </p>
      <div class="form-inline">
        <%= form_with url: search_path, method: :get, html: { class: "d-flex mb-4 search-container" } do |f| %>
        <div class="form-group icon-parent">
          <span class="mag-icon"><i class="fas fa-thin fa-magnifying-glass"></i></span>
          <%= f.text_field :query,
                        class: "form-control search-text-field input-form",
                        placeholder: "Search for an anime...",
                        value: params[:query] %>
        </div>
        <%= f.submit "Search", class: "button btn-search" %>
      <% end %>
    </div>
    </div>

    <div class="col-4">
     <lottie-player id="my-lottie" src="https://assets5.lottiefiles.com/packages/lf20_AxapO9m4rW.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
    </div>
  </div>
</div>

  <section class="about-section mt-8">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= cl_image_tag("https://res.cloudinary.com/dtjuz4kkr/image/upload/v1686858038/anime_boy_jkravv.png", height: 500, alt: "anime boy", crop: :fill, class: "about-image") %>
      </div>
      <div class="col-6">
        <h2 class="section-title">About <span class="sect-brand">AnimeTrek</span></h2>
        <p class="section-description mt-5">
          AnimeTrek is your ultimate destination for exploring the fascinating world of anime. Immerse yourself in captivating storylines, vibrant characters, and breathtaking animation. Discover a vast collection of anime series spanning various genres, from action-packed adventures to heartwarming slice-of-life stories.
          <%# With AnimeTrek, you can embark on a journey of exploration, uncovering hidden gems and popular classics alike. Our curated selection ensures that you'll find something to suit your taste and preferences. Whether you're a seasoned anime enthusiast or just starting your anime journey, AnimeTrek is here to accompany you every step of the way.
          Join our vibrant community of anime lovers, where you can engage in discussions, share recommendations, and connect with fellow fans. Stay up-to-date with the latest releases, follow your favorite shows, and dive into the rich world of anime culture. %>

        <p class="section-description">
          With AnimeTrek, you can embark on a journey of exploration, uncovering hidden gems and popular classics alike. Start your anime adventure with AnimeTrek today and unleash the boundless wonders of the anime universe!
        </p>
        <%= link_to "Start today", new_user_registration_path, class: "btn register-btn" %>
      </div>
    </div>
  </div>
</section>


  <section class="mt-5">
    <div class="container">
      <h2 class="text-center" >Features</h2>
      <div class="mx-auto">
        <div class="row mb-n24">
          <div class="mt-5 col-12 col-xl-4 mb-24">
            <div class="mx-auto text-center">
              <h6 class="mb-3" >Discover & Explore</h6>
              <p class="text-secondary" >Whether you're into action-packed adventures, heartwarming romances, or mind-bending mysteries, AnimeTrek has something for everyone.</p>
              <%# <div class=""><img class="d-block w-100" src="flaro-assets/images/features/peoples.png" alt=""/></div> %>
            </div>
          </div>
          <div class="mt-5 col-12 col-xl-4 mb-24">
            <div class="position-relative pt-10 px-14 pb-52 h-100 pb-xl-64 mw-sm mw-xl-none mx-auto text-center bg-info-light rounded-4">
              <h6 class="fs-6 mb-3" >Watch List Wonder</h6>
              <p class="text-secondary">Keep track of your anime journey by creating a personalized watchlist on AnimeTrek, allowing you to easily add, remove, and mark anime series as watched</p>
              <%# <div class="position-absolute bottom-0 start-0 w-100 px-10 mb-n12 mb-xl-n10"><img class="d-block w-100" src="flaro-assets/images/features/reports.png" alt=""/></div> %>
            </div>
          </div>
          <div class="mt-5 col-12 col-xl-4 mb-24">
            <div class="position-relative pt-10 px-14 pb-52 h-100 pb-xl-64 mw-sm mw-xl-none mx-auto text-center bg-info-light rounded-4">
              <h6 class="fs-6 mb-3" >Points and Achievements</h6>
              <p class="text-secondary" >Unlock your anime prowess and earn points for rating anime, writing engaging reviews and more. Unlock a dazzling array of achievements and badges! </p>
              <%# <div class="position-absolute bottom-0 start-0 w-100 px-10 mb-n12 mb-xl-n10"><img class="d-block w-100" src="flaro-assets/images/features/users.png" alt=""/></div> %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
<section class="mt-5">
  <div class="container">
  <h2 class="top-25-header">Top 25 <span>Animes</span></h2>
  <div class="row mb-5 justify-content-start">
    <div class="col-4">
      <% @animes.each do |anime| %>
        <% if anime.id == 42 %>
          <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
            <div class="lg-card img">
              <%= image_tag anime.image %>
              <div class="lg-card-infos" data-edit-anime-target="infos">
                <h2><%= anime.title %></h2>
                <div class="genre">
                  <small><%= anime.genre %></small>
                  <div class="rating">
                    <% (1..5).each do |i| %>
                    <% if i <= anime.rating %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-4">
      <% @animes.each do |anime| %>
        <% if anime.id == 27 %>
          <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
            <div class="lg-card img">
              <%= image_tag anime.image %>
              <div class="lg-card-infos" data-edit-anime-target="infos">
                <h2><%= truncate(anime.title, length: 12) %></h2>
                <div class="genre">
                  <small><%= anime.genre %></small>
                  <div class="rating">
                    <% (1..5).each do |i| %>
                    <% if i <= anime.rating %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-4">
      <% @animes.each do |anime| %>
        <% if anime.id == 79 %>
          <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
            <div class="lg-card img">
              <%= image_tag anime.image %>
              <div class="lg-card-infos" data-edit-anime-target="infos">
                <h2><%= anime.title %></h2>
                <div class="genre">
                  <small><%= anime.genre %></small>
                  <div class="rating">
                    <% (1..5).each do |i| %>
                    <% if i <= anime.rating %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mb-5 justify-content-center">
    <div class="col-4">
      <% @animes.each do |anime| %>
        <% if anime.id == 82 %>
          <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
            <div class="lg-card img">
              <%= image_tag anime.image %>
              <div class="lg-card-infos" data-edit-anime-target="infos">
                <h2><%= anime.title %></h2>
                <div class="genre">
                  <small><%= anime.genre %></small>
                  <div class="rating">
                    <% (1..5).each do |i| %>
                    <% if i <= anime.rating %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-4">
      <% @animes.each do |anime| %>
        <% if anime.id == 30 %>
          <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
            <div class="lg-card img">
              <%= image_tag anime.image %>
              <div class="lg-card-infos" data-edit-anime-target="infos">
                <h2><%= anime.title %></h2>
                <div class="genre">
                  <small><%= anime.genre %></small>
                  <div class="rating">
                    <% (1..5).each do |i| %>
                    <% if i <= anime.rating %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mb-5 justify-content-end">
    <div class="col-4">
      <% @animes.each do |anime| %>
        <% if anime.id == 33 %>
          <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
            <div class="lg-card img">
              <%= image_tag anime.image %>
              <div class="lg-card-infos" data-edit-anime-target="infos">
                <h2><%= anime.title %></h2>
                <div class="genre">
                  <small><%= anime.genre %></small>
                  <div class="rating">
                    <% (1..5).each do |i| %>
                    <% if i <= anime.rating %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-4">
      <% @animes.each do |anime| %>
        <% if anime.id == 46 %>
          <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
            <div class="lg-card img">
              <%= image_tag anime.image %>
              <div class="lg-card-infos" data-edit-anime-target="infos">
                <h2><%= anime.title %></h2>
                <div class="genre">
                  <small><%= anime.genre %></small>
                  <div class="rating">
                    <% (1..5).each do |i| %>
                    <% if i <= anime.rating %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-4">
      <% @animes.each do |anime| %>
        <% if anime.id == 43 %>
          <%= link_to anime_path(anime), style: 'text-decoration: none;' do %>
            <div class="lg-card img">
              <%= image_tag anime.image %>
              <div class="lg-card-infos" data-edit-anime-target="infos">
                <h2><%= anime.title %></h2>
                <div class="genre">
                  <small><%= anime.genre %></small>
                  <div class="rating">
                    <% (1..5).each do |i| %>
                    <% if i <= anime.rating %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</section>

</div>

<%# <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> %>
<script>
      // Delay the execution of the code until the Lottie player script is fully loaded
      window.addEventListener('DOMContentLoaded', (event) => {
        // Check if the "lottie-player" custom element is already registered
        if (!window.customElements.get('lottie-player')) {
          // Register the "lottie-player" custom element if it's not already registered
          window.customElements.define('lottie-player', window.lottie.defaultPlayerElement);
        }
      });
    </script>
