<div class="container">
  <div class="row">
    <div class="col-8">
      <p>Discover, Explore, Simplify:</p>
      <h1>Unleash The Anime Universe</h1>
      <p>
        Introducing AnimeTrek: Your Ultimate Anime Exploration Companion.
        You can discover new anime series, explore genres, and deep dive into captivating story lines.
      </p>
      <div>
      <%= form_with url: search_path, method: :get, html: { class: "mb-4" } do |f| %>
      <%= f.text_field :query,
                     class: "form-control",
                     placeholder: "Type an anime title",
                     value: params[:query] %>
      <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col4">
      <%# Place holder for image %>
    </div>
  </div>
    <h1>All Animes</h1>
    <ul>
      <% @animes.each do |anime| %>
        <li>
          <%= link_to anime.title, anime_path(anime) %>
        </li>
        <li> <%= anime.synopsis %></li>
        <li> <%= anime.date_start %></li>
        <li> <%= anime.date_finish %></li>
        <li> <%= anime.genre %></li>
        <li> <%= anime.rating %></li>
        <li> <%= image_tag anime.image %></li>
      <% end %>
    </ul>
</div>
