<div class="container">
  <div class="row">
    <div class="col-8">
      <p>Discover, Explore, Simplify:</p>
      <h1>Unleash The Anime Universe</h1>
      <p>
        Introducing AnimeTrek: Your Ultimate Anime Exploration Companion.
        You can discover new anime series, explore genres, and deep dive into captivating story lines.
      </p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">Search</button>
        </div>
      </div>
    </div>
    <div class="col4">
      <%# Place holder for image %>
    </div>
  </div>

  <section class="mt-5">
  <div class="container">
    <h2 class="text-center" >Features</h2>
    <div class="mx-auto">
      <div class="row mb-n24">
        <div class="mt-5 col-12 col-xl-4 mb-24">
          <div class="mx-auto text-center">
            <h6 class="mb-3" >Discover & Explore</h6>
            <p class="text-secondary" >Whether you're into action-packed adventures, heartwarming romances, or mind-bending mysteries, AnimeTrek has something for everyone.</p>
            <%# <div class=""><img class="d-block w-100" src="flaro-assets/images/features/peoples.png" alt=""/></div> %>
          </div>
        </div>
        <div class="mt-5 col-12 col-xl-4 mb-24">
          <div class="position-relative pt-10 px-14 pb-52 h-100 pb-xl-64 mw-sm mw-xl-none mx-auto text-center bg-info-light rounded-4">
            <h6 class="fs-6 mb-3" >Watch List Wonder</h6>
            <p class="text-secondary">Keep track of your anime journey by creating a personalized watchlist on AnimeTrek, allowing you to easily add, remove, and mark anime series as watched</p>
            <%# <div class="position-absolute bottom-0 start-0 w-100 px-10 mb-n12 mb-xl-n10"><img class="d-block w-100" src="flaro-assets/images/features/reports.png" alt=""/></div> %>
          </div>
        </div>
        <div class="mt-5 col-12 col-xl-4 mb-24">
          <div class="position-relative pt-10 px-14 pb-52 h-100 pb-xl-64 mw-sm mw-xl-none mx-auto text-center bg-info-light rounded-4">
            <h6 class="fs-6 mb-3" >Points and Achievements</h6>
            <p class="text-secondary" >Unlock your anime prowess and earn points for rating anime, writing engaging reviews and more. Unlock a dazzling array of achievements and badges! </p>
            <%# <div class="position-absolute bottom-0 start-0 w-100 px-10 mb-n12 mb-xl-n10"><img class="d-block w-100" src="flaro-assets/images/features/users.png" alt=""/></div> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







    <h1>All Animes</h1>
    <ul>
      <% @animes.each do |anime| %>
        <li>
          <%= link_to anime.title, anime_path(anime) %>
        </li>
        <li> <%= anime.synopsis %></li>
        <li> <%= anime.date_start %></li>
        <li> <%= anime.date_finish %></li>
        <li> <%= anime.genre %></li>
        <li> <%= anime.rating %></li>
        <li> <%= image_tag anime.image %></li>
      <% end %>
    </ul>
</div>
