<h1>Edit User Profile</h1>

<%= form_for @user_profile do |f| %>
  <div>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <%= f.submit "Save Changes" %>
<% end %>

<%= link_to 'Back to User Profile', user_profile_path %>
