<h1>All Animes</h1>
<ul>
  <% @animes.each do |anime| %>
    <li> <%= anime.title %></li>
    <li> <%= anime.synopsis %></li>
    <li> <%= anime.date_start %></li>
    <li> <%= anime.dat_finish %></li>
    <li> <%= anime.genre %></li>
    <li> <%= anime.rating %></li>
    <li> <%= anime.image %></li>
  <% end %>
</ul>

<%= link_to 'Go to Home Page', root_path %>
