<div class="py-5" style="background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('<%= @anime.image_urls[0] %>');
                        background-position: center;
                        background-size: cover">
  <%# can u help me make a flex with two columns please %>

<div class="container text-white ">
  <div class="row  align-items-end">
  <div class="col">
    <%= link_to "Back to homepage", root_path, class:"btn btn-primary mb-3" %>
    <p class="fs-3">#<%= @anime.rank %> Most populair</p>
    <h1 class="display-1 fw-bold"><%= @anime.title %></h1>
    <p class="fs-6"> <%= truncate(@anime.synopsis, :length => 200) %></p>
    <a href="#" class="btn watchlist-button"> <i class="fa-solid fa-plus"></i> Add to watchlist</a>
    </div>
  <div class="col-4">
    <div class="bg-secondary p-3 rounded-3 d-inline-flex">
    <% @anime.image_urls.each do |image| %>
      <img src="<%= image %>" class="rounded-3 mx-2" alt="" width=250 >
    <% end %>
    </div>
  </div>
  </div>

  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-between">
    <div class="col-6">
      <h3 class="display-5 fw-bold mb-2">Details</h3>
      <p><%= @anime.synopsis %></p>
    </div>
    <div class="col-6">
      <h3 class="display-5 fw-bold mb-2">Trailer</h3>
      <iframe width="560" height="315" src="<%= @anime.embed_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row mt-3">
      <h3 class="display-5 fw-bold mb-2">Episodes</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @anime.episodes.each do |episode| %>

  <div class="col">
    <div class="card h-100">
      <img src="<%= episode.image %>" class="" alt="<%= episode.title %>">
      <div class="card-body">
        <h5 class="card-title"><%= episode.title %></h5>
        <p class="card-text"><%= episode.description %></p>
      </div>
    </div>
  </div>
    <% end %>

</div>
</div>

</div>
<h1> <%= @anime.title %></h1>
<p> <%= @anime.synopsis %></p>
<p>Genre: <%= @anime.genre %></p>
<p>Rating: <%= @anime.rating %></p>
<p>Release Date: <%= @anime.date_start %></p>
<p>End Date: <%= @anime.date_finish %></p>
<p>End Date: <%= @anime.api_id %></p>
<%= image_tag @anime.image %>

<%= link_to 'Back to Anime List', root_path %>



<div class="reviews-container">
  <div class="reviews-header">
    <h2 class="mt-4">Reviews</h2>
  </div>
  <div class="reviews-info">
    <p><%= @anime.reviews.count %> Reviews | <%= @anime.rating %> <i class="fas fa-star"></i></p>
  </div>
  <div class="account-required text-center py-3" style="background-color: #eaeaea;">
    <strong>Account Required</strong>
    <p><strong>Please</strong> Log in or Create an Account to <strong>add a review</strong></p>
  </div>
  <div class="reviews-list text-center mt-4 ">
    <% @anime.reviews.each do |review| %>
      <div class="review-container mb-4 d-inline-block">
        <div class="review">
          <div class="mb-3 d-flex justify-content-start review-info">
            <img src="" alt="User Photo" class="mr-2 rounded-circle" width="50" height="50">
            <div>
              <p class="mb-0 username"><%= review.user.username %></p>
              <p class="mb-0 rating">Rating: <%= review.rating %></p>
              <p class="mb-0 date"><%= review.created_at.strftime('%d %b %Y') %></p>
            </div>
          </div>
          <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
            <p class="my-content" data-read-more-target="content">
              <%= review.content %>
            </p>
            <button data-action="read-more#toggle" style="border-radius: 20px;">Read more</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
  .review-info {
    display: flex;
    align-items: center;
  }

  .user-photo,
  .username,
  .rating,
  .date {
    display: inline-block;
    margin-right: 10px;
  }
    .reviews-list {
    margin-left: 100px;
    margin-right: 100px;
  }
</style>

<!--<h2>Reviews</h2>

<h3>Episodes: </h3>
<% if @anime.episodes.present? %>
  <% @anime.episodes.each do |episode| %>
    <div>
      <p><strong>Episode: <%= episode.episodenumber %></strong></p>
      <p>Title: <%= episode.title %></p>
      <p>Release Date: <%= episode.date_aired.strftime("%a, %B %Y") %></p>
      <p>Summary: <%= episode.description %></p>
      <p>Duration: <%= episode.duration / 60 unless episode.duration.nil? %> minutes</p>


    </div>
  <% end %>
<% else %>
  <p>No episodes found.</p>
<% end %>

<h2>Reviews</h2>

<% if @anime.reviews.present? %>
  <% @anime.reviews.each do |review| %>
    <div>
      <p><strong>Rating: <%= review.rating %></strong></p>
      <p>Content: <%= review.content %></p>

      <% if current_user == review.user %>
        <%= link_to "Edit", edit_anime_review_path(@anime, review) %>
        <% #link_to "Delete", anime_review_path(@anime, review), method: :delete, data: { confirm: "Are you sure you want to delete this review?" } %>

      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No reviews found.</p>
<% end %>
</div>
