<h1> <%= @anime.title %></h1>
<p> <%= @anime.synopsis %></p>
<p>Genre: <%= @anime.genre %></p>
<p>Rating: <%= @anime.rating %></p>
<p>Release Date: <%= @anime.date_start %></p>
<p>End Date: <%= @anime.date_finish %></p>
<%= image_tag @anime.image %>
