  <% reviews.each do |review| %>
    <hr>
      <div class="col-md-8 w-100">
        <div class="media g-mb-30 media-comment d-flex">
          <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15 user-photo" src="<%= review.user.photo %>" alt="<%= review.user.username %> ">
          <div class="media-body  g-bg-white g-pa-5 w-100">
            <div class="g-mb-15">
              <h5 class="h5 g-color-gray-dark-v1 mb-2"><strong> <%= link_to user_path(review.user), class: "text-decoration-none text-black" do%> <%= review.user.username %> <% end %></h5>
              <div class="rating">
                <% (1..5).each do |i| %>
                  <% if i <= review.rating %>
                    <i class="fas fa-star"></i>
                  <% else %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% end %>
              </div>
                <span class="g-color-gray-dark-v4 g-font-size-12"><%= review.created_at.strftime('%d %b %Y') %></span>
              <div data-controller="read-more" data-read-more-more-text-value="Read more ↓" data-read-more-less-text-value="Read less ↑">
                <p class="my-content" data-read-more-target="content">
                  <%= review.content %>
                </p>
                <% if policy(review).destroy? %>
                  <%= link_to "Delete", review_path( review), data: {turbo_method: :delete, turbo_confirm: "you sure?" }, method: :delete, class: "btn btn-danger text-white" %>
                <% end %>
                <% if review.content.chars.length > 291 %>
                  <button data-action="read-more#toggle" style="border-radius: 20px;" class="btn-readmore">Read more ↓</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
